body {
	box-sizing: border-box;
}

#header {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 15px;
	font-family: "Carrois Gothic SC", sans-serif;
	width: 80%;
	margin: 0 auto;
}

form {
	justify-content: center;
}

label {
	font-size: 18px;
}

.gifItem {
	margin: 2px;
}

#search {
	margin: 0 auto;
	text-align: center;
	font-family: "Carrois Gothic SC", sans-serif;
}

#searchText {
	margin-right: 5px;
}

#myButtons {
	text-align: center;
}

#gifArea {
	width: 1024px;
	display: inline-block;
	margin: 0 auto;
	margin-top: 30px;
	padding: 20px;
}

img {
	height: 240px;
	width: 310px;
}

.thumbnail {
	float: left;
	margin-right: 18px;
	margin-bottom: 40px;
}

@media only screen and (max-width: 640px) {
	#header {
		width: 100%;
	}
	img {
		width: 100%;
		height: 1000%;
	}

	#myButtons {
		text-align: center;
	}

	#addGif {
		margin-top: 10px;
	}
}
